@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background-color: #e4e4e4a7;
}
